body {
    min-width: 250px;
    background-color: #1e2530;
    color: #ffffff;
    margin: 15px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-left: 32px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #959dab;
}

.sliderAnim {
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
}

.sliderAnim:before {
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

input:checked + .slider {
    background-color: #3e70bb;
}

input:focus + .slider {
    box-shadow: 0 0 1px #3e70bb;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

#popup-legacy-img {
    width: 190px;
    padding-left: 20px;
}

#popup-help-link-text {
    color: #4dafef;
    cursor: pointer;
}

#popup-help-text {
    display: none;
}
